footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 95%;
    width: 100%;
    z-index: 9999;
  }
  
  #name {
    margin-left: 30px;
    font-size: 40px;
  }

#footerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#footerContent a {
  margin: 0 10px;
}

#footerContent h3 {
  margin: 0 10px;
}